<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>星巴克购物小票</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/Starbucks.css')}}">

</head>
<body>
    <div class="receipt">
        <div class="logo">
            <img src="{{url_for('static', filename='img/logo.png')}}" alt="星巴克logo">
            <span>STARBUCKS</span>
        </div>

        <div class="store-info">
            <p>Starbucks Coffee China</p>
            <p>{{store_no}}-{{store_name}}</p>
            <p>外带</p>
        </div>

        <div class="order-number">{{order_number}}</div>

        <div class="header-row">
            <div class="header-item">商品</div>
            <div class="header-item">数量</div>
            <div class="header-item">金额</div>
        </div>

        <hr class="separator">

        <div class="product">
            <div class="product-name">
                {% for product_name in product_name%}
                    <div>{{product_name}}</div>
                {% endfor %}
                <div>¥{{ "%.2f" | format(product_price) }}</div>
            </div>
            <div class="product-details">
                {% for product_details in product_details %}
                    <div>{{product_details}}</div>
                {% endfor %}
                <div>¥{{ "%.2f" | format(product_price) }}</div>
            </div>
        </div>

        <div class="discount">
            {% if discount_price %}
                {% for discount_details in discount_details %}
                    <div>{{discount_details}}</div>
                {% endfor %}
                <div>-¥{{"%.2f" | format(discount_price) }}</div>
            {% else %}
            {% endif %}
        </div>

        <div class="total">总价 ¥{{ "%.2f" | format(product_price - discount_price + payment_money) }}</div>

        <hr class="separator">

        <div class="info-row">
            <div>下单时间</div>
            <div>{{order_time}}</div>
        </div>

        <div class="info-row">
            <div>付款</div>
            <div>¥{{ "%.2f" | format(product_price - discount_price + payment_money) }}</div>
        </div>

        <div class="info-row">
            <div>应付找零</div>
            <div>¥0.00</div>
        </div>

        <div class="payment-method">
            <div class="info-row">
                <div class="payment-method-name">{{payment_method}}</div>
                <div class="payment-amount">¥{{ "%.2f" | format(payment_money) }}</div>
            </div>
            <div class="payment-method-number">{{payment_code}}</div>
        </div>

        <div class="payment-method">
            <div class="info-row">
                <div class="payment-method-name">{{DP_method}}</div>
                <div class="payment-amount">¥{{ "%.2f" | format(product_price - discount_price) }}</div>
            </div>
            <div class="payment-method-number">{{DP_code}}</div>
        </div>

        <hr class="separator">

        <div class="payment-details">
            <h3>{{payment_method}}支付详情</h3>

            <div class="info-row">
                <div>用户支付User Paid</div>
                <div>¥{{ "%.2f" | format(payment_money) }}</div>
            </div>

            <div class="info-row">
                {% if payment_discount %}
                    {% for payment_discount in payment_discount %}
                        <div>{{payment_discount}}</div>
                    {% endfor %}
                {% else %}
                {% endif %}
            </div>

            <div class="info-row">
                <div>支付订单号</div>
                <div>{{payment_code}}</div>
            </div>
        </div>

        <hr class="final-separator">

        <div class="info-row">
            <div>发票提取码</div>
            <div>{{invoice_code}}</div>
        </div>

        <hr class="final-separator">
    </div>
</body>
</html>
